@import "../../sass/variables.scss";

.spell-creator {
	display: flex;
	max-width: $desktop-page-width;
  margin: 0 auto;
  padding-top: 50px;
}

.spell-creator__form-wrapper ,
.spell-creator__preview-wrapper {
	flex: 1;
}

.spell-creator__input-wrapper {
  label {
    font-size: 18px;
    color: $darkGrey;
  }

  .spell-creator__input-text {
    border: none;
    border-bottom: 1px solid $darkGrey;
  }
}
