$main-color: #283149;
$secondary-color: #404B69;
$black: #000;
$white: #fff;
$transparentBlack: rgba(0, 0, 0, 0.5);
$lightBlack: #333;
$lightBrown: #8a7973;
$grey: #f2f2f2;
$darkGrey: #d8d8d8;
$mediumGrey: #e0e0e0;
$accent: #b8193f;

$body: 14px;

$desktop-page-width: 1240px;
