@import "../../sass/variables.scss";

.home__wrapper {
}

.home__hero {
  height: calc(100vh - #{$headerHeight});
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-image: url('assets/images/hero.jpg');
  position: relative;

  h1 {
    color: $white;
    font-size: 46px;
    position: absolute;
    top: 25%;
    left: 5%;
  }

  p {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30%;
    line-height: 22px;
  }

  .home__arrow-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
    cursor: pointer;

    img {
      width: 50px;
      height: auto;
    }
  }
}

.home__grid {
  max-width: $desktop-page-width;
	margin: 0 auto;
	display: grid;
	height: 1000px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"character monster"
		"character monster"
		"character monster"
		"spell monster"
		"spell tools"
		"spell tools"
		"spell tools";
}

.home__grid--character,
.home__grid--monster,
.home__grid--spell,
.home__grid--tools {
	cursor: pointer;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.home__grid--character {
	grid-area: character;
	background-image: url('assets/images/character_creator_background.jpg');
}

.home__grid--monster {
	grid-area: monster;
	background-image: url('assets/images/monster-creator-background.jpg');
}

.home__grid--spell {
	grid-area: spell;
	background-image: url('assets/images/spell-creator-background.jpg');
}

.home__grid--tools {
	grid-area: tools;
	background-image: url('assets/images/dm-tools-background.jpg');
}

.home__grid--element-overlay {
	position: absolute;
	bottom: 0;
	width: calc(100% - 40px); // malke up for the padding
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, 0));
	transition: height .15s ease-out;
}

.home__grid--overlay-title {
	color: $white;
}

.home__grid--overlay-description {
	color: $white;
}

.home__hidden {
	display: none;
}
