@import "../../sass/variables.scss";

.home__wrapper {
	max-width: $desktop-page-width;
	margin: 0 auto;
}

.home__carousel-placeholder {
	height: 500px;
	background: pink;
}

.home__grid {
	display: grid;
	height: 1000px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"character monster"
		"character monster"
		"character monster"
		"spell monster"
		"spell tools"
		"spell tools"
		"spell tools";
}

.home__grid--character,
.home__grid--monster,
.home__grid--spell,
.home__grid--tools {
	cursor: pointer;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.home__grid--character {
	grid-area: character;
	background-image: url('assets/images/character_creator_background.jpg');
}

.home__grid--monster {
	grid-area: monster;
	background-image: url('assets/images/monster-creator-background.jpg');
}

.home__grid--spell {
	grid-area: spell;
	background-image: url('assets/images/spell-creator-background.jpg');
}

.home__grid--tools {
	grid-area: tools;
	background-image: url('assets/images/dm-tools-background.jpg');
}

.home__grid--element-overlay {
	position: absolute;
	bottom: 0;
	width: calc(100% - 40px); // malke up for the padding
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, .7) 50%, rgba(0, 0, 0, 0));
	transition: height .3s ease-out;
}

.home__grid--overlay-title {
	color: $white;
}

.home__grid--overlay-description {
	color: $white;
}

.home__hidden {
	display: none;
}
