@import "../../sass/variables.scss";

header {
  // height: calc(35% + 75px);
  height: 75px;
  .bar {
    background-color: $black;
    height: 25px;
    padding: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
      .header__auth-buttons-container {
        border-left: 2px solid $darkGrey;
        padding-left: 20px;
        height: 40px;
        display: flex;
        align-items: center;

        a:not(:last-child) {
          border-right: 2px solid #fff;
        }
      }
    }
  .header__button {
    background: none;
    border: none;
    color: #fff;
    font-size: $body;
    cursor: pointer;
    outline: none;
  }

  .header__nav-container {
    padding-right: 25px;

    .header__button {
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }

    a:not(:last-child) {
      margin-right: 20px;
    }
  }

  .header__buttons-wrapper {
    display: flex;
    align-items: center;
  }
}
