@import "../../sass/_variables.scss";

.footer {
	height: 100px;
	background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__disclaimer-container {
    flex: 1;
    padding-left: 50px;
    p {
      margin: 3px 0;
      font-size: 12px;
    }
  }

  .footer__social-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;

    .footer__social-icon {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
