@import "../../sass/variables.scss";

.character-creator {
	display: flex;
	max-width: $desktop-page-width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.character-creator__form-wrapper ,
.character-creator__preview-wrapper {
  flex: 1;
}

.character-creator__form-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 50px - #{$headerHeight} - #{$footerHeight});
}

.character-creator__input-wrapper {
  position: relative;
  label {
    font-size: 16px;
    color: $darkGrey;
  }

  fieldset {
    border: none;
    display: block;

    label {
      margin: 0 10px 0 5px;
      color: $black;
    }
  }

  .character-creator__components-fieldset {
    display: block;
  }

  .character-creator__checkbox-wrapper {
    display: inline-block;
    min-width: 145px;
  }

  .character-creator__input-text {
    border: none;
    border-bottom: 1px solid $darkGrey;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px;
  }

  .character-creator__input-number {
    border: none;
    border-bottom: 1px solid $darkGrey;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px;
  }

  .character-creator__input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid $mediumGrey;
    border-radius: 0;
    background-color: $white;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px;
  }

  .character-creator__infoButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.character-creator__separator {
  width: 80%;
  height: 1px;
  background-color: $darkGrey;
  margin: 15px 0;
}

.character-creator__dice-icon {
  width: 32px;
  height: 32px;
}

.character-creator__dice-icon-container {
  display: inline-block;
  cursor: pointer;
}
