.home__hero {
  height: calc(100vh - 75px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("assets/images/hero.jpg");
  position: relative; }
  .home__hero h1 {
    color: #fff;
    font-size: 46px;
    position: absolute;
    top: 25%;
    left: 5%; }
  .home__hero p {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30%;
    line-height: 22px; }
  .home__hero .home__arrow-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .5;
    cursor: pointer; }
    .home__hero .home__arrow-container img {
      width: 50px;
      height: auto; }

.home__grid {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  height: 1000px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "character monster" "character monster" "character monster" "spell monster" "spell tools" "spell tools" "spell tools"; }

.home__grid--character,
.home__grid--monster,
.home__grid--spell,
.home__grid--tools {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.home__grid--character {
  grid-area: character;
  background-image: url("assets/images/character_creator_background.jpg"); }

.home__grid--monster {
  grid-area: monster;
  background-image: url("assets/images/monster-creator-background.jpg"); }

.home__grid--spell {
  grid-area: spell;
  background-image: url("assets/images/spell-creator-background.jpg"); }

.home__grid--tools {
  grid-area: tools;
  background-image: url("assets/images/dm-tools-background.jpg"); }

.home__grid--element-overlay {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0));
  transition: height .15s ease-out; }

.home__grid--overlay-title {
  color: #fff; }

.home__grid--overlay-description {
  color: #fff; }

.home__hidden {
  display: none; }

.monster-creator {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.monster-creator__form-wrapper,
.monster-creator__preview-wrapper {
  flex: 1;
  max-height: calc(100vh - 50px - 75px - 100px); }

.monster-creator__form-wrapper {
  overflow-y: auto; }

.monster-creator__input-wrapper {
  position: relative; }
  .monster-creator__input-wrapper label {
    font-size: 16px;
    color: #666; }
  .monster-creator__input-wrapper fieldset {
    border: none;
    display: inline-block; }
    .monster-creator__input-wrapper fieldset label {
      margin: 0 10px 0 5px;
      color: #000; }
  .monster-creator__input-wrapper .monster-creator__input-text {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px; }
  .monster-creator__input-wrapper .monster-creator__input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .monster-creator__input-wrapper .monster-creator__input-number {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px;
    margin-right: 15px; }
  .monster-creator__input-wrapper .monster-creator__checkbox-wrapper {
    display: inline-block;
    min-width: 120px; }
  .monster-creator__input-wrapper .spell-creator__infoButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%); }

.monster-creator__separator {
  width: 90%;
  height: 1px;
  background-color: #666;
  margin: 15px 0; }

.monster-creator__preview-wrapper {
  padding: 0 50px; }
  .monster-creator__preview-wrapper .monster-creator__name {
    font-size: 42px;
    font-weight: 500;
    margin: 0; }
  .monster-creator__preview-wrapper .monster-creator__sub-info {
    font-style: italic;
    font-size: 14px; }
  .monster-creator__preview-wrapper .monster-creator__attribute {
    font-weight: 600; }
    .monster-creator__preview-wrapper .monster-creator__attribute .monster-creator__attribute-value {
      font-weight: normal; }
  .monster-creator__preview-wrapper .monster-creator__ability-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; }
    .monster-creator__preview-wrapper .monster-creator__ability-container .monster-creator__ability-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase; }

.monster-creator__section-title {
  color: #666; }

.padding-left {
  padding-left: 25px; }

.monster-creator__button {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px;
  background-color: #fff;
  font-size: 14px;
  float: right;
  margin-right: 30px;
  margin-top: 30px; }

.margin-right {
  margin-right: 10%; }

.spell-creator {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.spell-creator__form-wrapper,
.spell-creator__preview-wrapper {
  flex: 1; }

.spell-creator__form-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 50px - 75px - 100px); }

.spell-creator__input-wrapper {
  position: relative; }
  .spell-creator__input-wrapper label {
    font-size: 16px;
    color: #666; }
  .spell-creator__input-wrapper fieldset {
    border: none;
    display: inline-block; }
    .spell-creator__input-wrapper fieldset label {
      margin: 0 10px 0 5px;
      color: #000; }
  .spell-creator__input-wrapper .spell-creator__components-fieldset {
    display: block; }
  .spell-creator__input-wrapper .spell-creator__input-text {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px; }
  .spell-creator__input-wrapper .spell-creator__input-number {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px; }
  .spell-creator__input-wrapper .spell-creator__input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .spell-creator__input-wrapper .spell-creator__class-wrapper {
    display: inline-block;
    min-width: 120px; }
  .spell-creator__input-wrapper .spell-creator__infoButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%); }

.spell-creator__textbox-wrapper label {
  font-size: 16px;
  color: #666; }

.spell-creator__textbox-wrapper .spell-creator__textbox {
  display: block;
  margin-left: 50px;
  width: calc(100% - 100px);
  border: none;
  border-top: 1px solid #999;
  border-left: 1px solid #999; }

.spell-creator__separator {
  width: 80%;
  height: 1px;
  background-color: #666;
  margin: 15px 0; }

.spell-creator__preview-wrapper {
  padding: 0 50px; }
  .spell-creator__preview-wrapper .spell-creator__name {
    font-size: 42px;
    font-weight: 500;
    margin: 0; }
  .spell-creator__preview-wrapper .spell-creator__level {
    font-style: italic;
    font-size: 14px; }
  .spell-creator__preview-wrapper .spell-creator__attribute {
    font-weight: 600; }
    .spell-creator__preview-wrapper .spell-creator__attribute .spell-creator__attribute-value {
      font-weight: normal; }

.character-creator {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.character-creator__form-wrapper,
.character-creator__preview-wrapper {
  flex: 1; }

.character-creator__form-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 50px - 75px - 100px); }

.character-creator__input-wrapper {
  position: relative; }
  .character-creator__input-wrapper label {
    font-size: 16px;
    color: #666; }
  .character-creator__input-wrapper fieldset {
    border: none;
    display: block; }
    .character-creator__input-wrapper fieldset label {
      margin: 0 10px 0 5px;
      color: #000; }
  .character-creator__input-wrapper .character-creator__components-fieldset {
    display: block; }
  .character-creator__input-wrapper .character-creator__checkbox-wrapper {
    display: inline-block;
    min-width: 145px; }
  .character-creator__input-wrapper .character-creator__input-text {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px; }
  .character-creator__input-wrapper .character-creator__input-number {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px; }
  .character-creator__input-wrapper .character-creator__input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .character-creator__input-wrapper .character-creator__infoButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%); }

.character-creator__separator {
  width: 80%;
  height: 1px;
  background-color: #666;
  margin: 15px 0; }

.character-creator__dice-icon {
  width: 32px;
  height: 32px; }

.character-creator__dice-icon-container {
  display: inline-block;
  cursor: pointer; }

.character-creator__info-wrapper {
  display: flex;
  width: 100%; }
  .character-creator__info-wrapper .character-creator__name-wrapper,
  .character-creator__info-wrapper .character-creator__info-flex-container {
    flex: 1; }
  .character-creator__info-wrapper .character-creator__name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .character-creator__info-wrapper .character-creator__name-wrapper .character-creator__name {
      font-size: 22px;
      border-bottom: 1px solid #999;
      padding-bottom: 5px; }
  .character-creator__info-wrapper .character-creator__info-label {
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    color: #666; }
  .character-creator__info-wrapper .character-creator__info-flex-container {
    border: 1px solid #666;
    border-top: none;
    margin-left: 20px;
    padding: 10px; }
    .character-creator__info-wrapper .character-creator__info-flex-container .character-creator__info-flex-element {
      display: flex; }
      .character-creator__info-wrapper .character-creator__info-flex-container .character-creator__info-flex-element:not(:first-child) {
        margin-top: 10px; }
      .character-creator__info-wrapper .character-creator__info-flex-container .character-creator__info-flex-element .character-creator__info-container {
        flex: 1; }
        .character-creator__info-wrapper .character-creator__info-flex-container .character-creator__info-flex-element .character-creator__info-container .character-creator__info {
          border-bottom: 1px solid #999;
          padding-bottom: 5px; }

.character-creator__preview-wrapper {
  padding: 0 50px; }

.character-creator__ability-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin: 25px 0;
  padding: 15px; }
  .character-creator__ability-container .character-creator__ability-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; }

.character-creator__attribute {
  font-weight: 600;
  margin-top: 0; }
  .character-creator__attribute .character-creator__attribute-value {
    font-weight: normal; }

.character-creator__flex-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px; }
  .character-creator__flex-container .character-creator__savings-container {
    flex: 1;
    border: 1px solid #000;
    padding: 15px;
    margin-right: 15px;
    max-height: 120px; }
  .character-creator__flex-container .character-creator__skills-container {
    flex: 3;
    border: 1px solid #000;
    padding: 15px;
    max-height: 120px;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap; }
  .character-creator__flex-container .character-creator__saving-skill-wrapper {
    display: flex;
    margin-bottom: 5px;
    font-size: 8px;
    min-width: 120px; }
    .character-creator__flex-container .character-creator__saving-skill-wrapper .character-creator__check {
      width: 10px;
      height: 10px;
      border: 1px solid #000;
      border-radius: 50%;
      margin-right: 5px; }
      .character-creator__flex-container .character-creator__saving-skill-wrapper .character-creator__check.checked {
        background-color: #999; }
    .character-creator__flex-container .character-creator__saving-skill-wrapper .character-creator__saving-skill-value {
      border-bottom: 1px solid #666;
      width: 25px;
      text-align: center;
      margin-right: 5px; }
    .character-creator__flex-container .character-creator__saving-skill-wrapper .character-creator__saving-skill-name {
      text-transform: capitalize; }

.character-creator__saving-skill-title {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 15px; }

.character-creator__proficiencies-container,
.character-creator__equipment {
  flex: 1;
  border: 1px solid #000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.character-creator__proficiencies-container {
  margin-right: 15px; }

.character-creator__proficiency {
  margin-top: 0;
  font-size: 10px; }

.spell-page {
  max-width: 1240px;
  margin: 0 auto; }

.spell-page__preview-container {
  display: flex; }
  .spell-page__preview-container .spell-page__image-container {
    width: 400px;
    max-height: 500px;
    background-size: cover;
    background-position: center; }

.spell-page__preview-wrapper {
  width: 50%;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 100px; }

.spell-page__buttons-container {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .spell-page__buttons-container .spell-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .spell-page__buttons-container .spell-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .spell-page__buttons-container .spell-page__button:hover {
      text-decoration: underline; }

.spell-page__comments-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .spell-page__comments-section .spell-page__guidance-text {
    color: #999; }
  .spell-page__comments-section .spell-page__textbox {
    width: 80%;
    border: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    margin: 20px 10%; }
  .spell-page__comments-section .spell-page__post-button {
    float: right;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 14px;
    margin-right: 10%;
    cursor: pointer; }
  .spell-page__comments-section .spell-page__comments-container {
    width: 60%;
    margin-top: 50px; }
    .spell-page__comments-section .spell-page__comments-container .spell-page__comment {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 5px 20px;
      margin-bottom: 50px; }
      .spell-page__comments-section .spell-page__comments-container .spell-page__comment .spell-page__comment-author {
        font-weight: 600;
        color: #666; }
        .spell-page__comments-section .spell-page__comments-container .spell-page__comment .spell-page__comment-author span {
          font-weight: normal;
          color: #999;
          font-size: 10px; }
      .spell-page__comments-section .spell-page__comments-container .spell-page__comment .spell-page__comment-body {
        padding-left: 50px; }

.spell-page__comment-buttons-container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  float: right; }
  .spell-page__comment-buttons-container .spell-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .spell-page__comment-buttons-container .spell-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .spell-page__comment-buttons-container .spell-page__button:hover {
      text-decoration: underline; }

.monster-page {
  max-width: 1240px;
  margin: 0 auto; }

.monster-page__preview-container {
  display: flex; }
  .monster-page__preview-container .monster-page__image-container {
    width: 400px;
    max-height: 500px;
    background-size: cover;
    background-position: center; }

.monster-page__preview-wrapper {
  width: 50%;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 100px; }

.monster-page__buttons-container {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .monster-page__buttons-container .monster-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .monster-page__buttons-container .monster-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .monster-page__buttons-container .monster-page__button:hover {
      text-decoration: underline; }

.monster-page__comments-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .monster-page__comments-section .monster-page__guidance-text {
    color: #999; }
  .monster-page__comments-section .monster-page__textbox {
    width: 80%;
    border: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    margin: 20px 10%; }
  .monster-page__comments-section .monster-page__post-button {
    float: right;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 14px;
    margin-right: 10%;
    cursor: pointer; }
  .monster-page__comments-section .monster-page__comments-container {
    width: 60%;
    margin-top: 50px; }
    .monster-page__comments-section .monster-page__comments-container .monster-page__comment {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 5px 20px;
      margin-bottom: 50px; }
      .monster-page__comments-section .monster-page__comments-container .monster-page__comment .monster-page__comment-author {
        font-weight: 600;
        color: #666; }
        .monster-page__comments-section .monster-page__comments-container .monster-page__comment .monster-page__comment-author span {
          font-weight: normal;
          color: #999;
          font-size: 10px; }
      .monster-page__comments-section .monster-page__comments-container .monster-page__comment .monster-page__comment-body {
        padding-left: 50px; }

.monster-page__comment-buttons-container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  float: right; }
  .monster-page__comment-buttons-container .monster-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .monster-page__comment-buttons-container .monster-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .monster-page__comment-buttons-container .monster-page__button:hover {
      text-decoration: underline; }

.spells-list {
  padding: 50px 5%; }

.spells-list__search-bar-container {
  display: flex;
  justify-content: center; }

.spells-list__search-bar {
  border: none;
  border-bottom: 3px solid #999;
  color: #666;
  width: 80%;
  text-align: center;
  font-size: 32px; }
  .spells-list__search-bar::placeholder {
    color: #ccc; }

.spells-list__search-icon {
  width: 32px;
  height: 32px; }

.spells-list__search-text {
  text-align: center;
  color: #666; }

.spells-list__search-item {
  color: #000; }

.spells-list__close-button {
  color: #666;
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer; }

.spells-list__filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .spells-list__filters-container .spells-list__filter-button {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    width: 150px;
    margin: 0 10px; }
    .spells-list__filters-container .spells-list__filter-button.spells-list__button-active {
      background-color: #000;
      color: #fff; }
  .spells-list__filters-container .spells-list__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .spells-list__filters-container .spells-list__filter-label {
    font-size: 12px;
    color: #666; }

.spells-list__spell-container {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
  .spells-list__spell-container .spells-list__author {
    font-size: 12px;
    color: #666; }
  .spells-list__spell-container .spells-list__date {
    font-size: 10px; }
  .spells-list__spell-container .spells-list__comment-icon-container {
    display: flex;
    align-items: center; }
  .spells-list__spell-container .spells-list__comment-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px; }

.spells-list__hidden {
  visibility: hidden; }

.monsters-list {
  padding: 50px 5%; }

.monsters-list__search-bar-container {
  display: flex;
  justify-content: center; }

.monsters-list__search-bar {
  border: none;
  border-bottom: 3px solid #999;
  color: #666;
  width: 80%;
  text-align: center;
  font-size: 32px; }
  .monsters-list__search-bar::placeholder {
    color: #ccc; }

.monsters-list__search-icon {
  width: 32px;
  height: 32px; }

.monsters-list__search-text {
  text-align: center;
  color: #666; }

.monsters-list__search-item {
  color: #000; }

.monsters-list__close-button {
  color: #666;
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer; }

.monsters-list__filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .monsters-list__filters-container .monsters-list__filter-button {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    width: 170px;
    margin: 0 10px; }
    .monsters-list__filters-container .monsters-list__filter-button.monsters-list__button-active {
      background-color: #000;
      color: #fff; }
  .monsters-list__filters-container .monsters-list__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .monsters-list__filters-container .monsters-list__filter-label {
    font-size: 12px;
    color: #666; }

.monsters-list__monster-container {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
  .monsters-list__monster-container .monsters-list__author {
    font-size: 12px;
    color: #666; }
  .monsters-list__monster-container .monsters-list__date {
    font-size: 10px; }
  .monsters-list__monster-container .monsters-list__comment-icon-container {
    display: flex;
    align-items: center; }
  .monsters-list__monster-container .monsters-list__comment-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px; }

.monsters-list__hidden {
  visibility: hidden; }

.footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .footer__disclaimer-container {
    flex: 1;
    padding-left: 50px; }
    .footer .footer__disclaimer-container p {
      margin: 3px 0;
      font-size: 12px; }
  .footer .footer__social-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px; }
    .footer .footer__social-container .footer__social-icon {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      cursor: pointer; }

header {
  height: 75px; }
  header .bar {
    background-color: #000;
    height: 25px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .bar .header__auth-buttons-container {
      border-left: 2px solid #666;
      padding-left: 20px;
      height: 40px;
      display: flex;
      align-items: center; }
      header .bar .header__auth-buttons-container a:not(:last-child) {
        border-right: 2px solid #fff; }
  header .header__button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none; }
  header .header__nav-container {
    padding-right: 25px; }
    header .header__nav-container .header__button {
      font-size: 18px; }
      header .header__nav-container .header__button:hover {
        text-decoration: underline; }
    header .header__nav-container a:not(:last-child) {
      margin-right: 20px; }
  header .header__buttons-wrapper {
    display: flex;
    align-items: center; }

.imodal__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; }

.imodal__container {
  position: relative;
  background: #fff;
  width: 50%;
  height: fit-content;
  max-height: 70%;
  overflow: auto;
  padding: 50px;
  border-radius: 5px; }

.imodal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: #000;
  color: #fff;
  height: 40px;
  width: 40px;
  text-transform: uppercase;
  font-size: 16px; }

.imodal__title {
  border-bottom: 1px solid #666;
  width: 80%;
  padding-bottom: 5px; }

.imodal__ul {
  list-style: none; }

.imodal__li {
  margin-bottom: 15px; }

.imodal__li-title {
  font-weight: bold;
  margin-right: 5px; }

.imodal__separator {
  width: 80%;
  color: #666;
  margin-left: 0;
  margin-top: 40px; }

.imodal__hidden {
  display: none; }

.login__hidden {
  display: none; }

.login {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 10%; }
  .login .login__background {
    position: absolute;
    background: url("assets/images/login-background.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  .login .login__title {
    background: #666;
    color: #fff;
    margin-top: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 25px; }
  .login .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    border: 2px solid #666; }
    .login .login__form input {
      height: 40px;
      width: 300px;
      margin-bottom: 25px;
      padding: 12px;
      font-size: 18px;
      border: none;
      border-bottom: 2px solid #999; }
    .login .login__form button {
      border: none;
      color: #fff;
      background-color: #000;
      width: 300px;
      margin-top: 25px;
      padding: 20px;
      font-size: 18px; }
  .login .login__error {
    color: red;
    display: block; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }

.header__logo-container {
  display: flex;
  align-items: center; }

.header__logo {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 5px; }

.header__title {
  display: inline; }

.hidden {
  display: none; }

.signup {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 2%; }
  .signup .signup__background {
    position: absolute;
    background: url("assets/images/signup-background.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  .signup .signup__title {
    background: #666;
    color: #fff;
    margin-top: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 25px; }
  .signup .signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    border: 2px solid #666; }
    .signup .signup__form input {
      height: 40px;
      width: 300px;
      margin-bottom: 25px;
      padding: 12px;
      font-size: 18px;
      border: none;
      border-bottom: 2px solid #999; }
    .signup .signup__form button {
      border: none;
      color: #fff;
      background-color: #000;
      width: 300px;
      margin-top: 25px;
      padding: 20px;
      font-size: 18px; }
  .signup .error {
    color: red;
    display: block; }

.characters-list {
  padding: 50px 5%; }

.characters-list__search-bar-container {
  display: flex;
  justify-content: center; }

.characters-list__search-bar {
  border: none;
  border-bottom: 3px solid #999;
  color: #666;
  width: 80%;
  text-align: center;
  font-size: 32px; }
  .characters-list__search-bar::placeholder {
    color: #ccc; }

.characters-list__search-icon {
  width: 32px;
  height: 32px; }

.characters-list__search-text {
  text-align: center;
  color: #666; }

.characters-list__search-item {
  color: #000; }

.characters-list__close-button {
  color: #666;
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer; }

.characters-list__filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .characters-list__filters-container .characters-list__filter-button {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    width: 170px;
    margin: 0 10px; }
    .characters-list__filters-container .characters-list__filter-button.characters-list__button-active {
      background-color: #000;
      color: #fff; }
  .characters-list__filters-container .characters-list__filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
    background-color: #fff;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px; }
  .characters-list__filters-container .characters-list__filter-label {
    font-size: 12px;
    color: #666; }

.characters-list__monster-container {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
  .characters-list__monster-container .characters-list__author {
    font-size: 12px;
    color: #666; }
  .characters-list__monster-container .characters-list__date {
    font-size: 10px; }
  .characters-list__monster-container .characters-list__comment-icon-container {
    display: flex;
    align-items: center; }
  .characters-list__monster-container .characters-list__comment-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px; }

.characters-list__hidden {
  visibility: hidden; }

.character-page {
  max-width: 1240px;
  margin: 0 auto; }

.character-page__preview-container {
  display: flex; }
  .character-page__preview-container .character-page__image-container {
    width: 400px;
    max-height: 500px;
    background-size: cover;
    background-position: center; }

.character-page__preview-wrapper {
  width: 50%;
  max-width: 570px;
  margin: 0 auto;
  margin-bottom: 100px; }

.character-page__buttons-container {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .character-page__buttons-container .character-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .character-page__buttons-container .character-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .character-page__buttons-container .character-page__button:hover {
      text-decoration: underline; }

.character-page__comments-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .character-page__comments-section .character-page__guidance-text {
    color: #999; }
  .character-page__comments-section .character-page__textbox {
    width: 80%;
    border: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    margin: 20px 10%; }
  .character-page__comments-section .character-page__post-button {
    float: right;
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 14px;
    margin-right: 10%;
    cursor: pointer; }
  .character-page__comments-section .character-page__comments-container {
    width: 60%;
    margin-top: 50px; }
    .character-page__comments-section .character-page__comments-container .character-page__comment {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding: 5px 20px;
      margin-bottom: 50px; }
      .character-page__comments-section .character-page__comments-container .character-page__comment .character-page__comment-author {
        font-weight: 600;
        color: #666; }
        .character-page__comments-section .character-page__comments-container .character-page__comment .character-page__comment-author span {
          font-weight: normal;
          color: #999;
          font-size: 10px; }
      .character-page__comments-section .character-page__comments-container .character-page__comment .character-page__comment-body {
        padding-left: 50px; }

.character-page__comment-buttons-container {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  float: right; }
  .character-page__comment-buttons-container .character-page__button {
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer; }
    .character-page__comment-buttons-container .character-page__button:not(:first-child) {
      border-left: 1px solid #000; }
    .character-page__comment-buttons-container .character-page__button:hover {
      text-decoration: underline; }

.modal__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999; }

.modal {
  position: relative;
  background: #fff;
  width: 25%;
  height: fit-content;
  max-height: 70%;
  overflow: auto;
  padding: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.modal__title {
  align-self: center; }

.modal__hidden {
  display: none; }

.modal__input-wrapper {
  position: relative;
  margin-bottom: 15px; }
  .modal__input-wrapper label {
    font-size: 16px;
    color: #666; }
  .modal__input-wrapper .modal__input-text {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px; }
  .modal__input-wrapper .modal__input-number {
    border: none;
    border-bottom: 1px solid #666;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px; }

.modal_button {
  border: none;
  color: #fff;
  background-color: #000;
  width: 100px;
  margin-top: 25px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  align-self: center; }

.tracker {
  position: relative;
  width: 100%;
  padding: 25px 0; }
  .tracker .tracker__menu-container {
    position: absolute;
    top: 200px;
    right: 5%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tracker .tracker__menu-container .tracker__plus {
      border: 2px solid #222;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: relative;
      margin-bottom: 25px; }
      .tracker .tracker__menu-container .tracker__plus span {
        font-size: 30px;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .tracker .tracker__menu-container .tracker__next {
      border: none;
      background-color: #222;
      color: #fff;
      padding: 25px;
      font-size: 20px;
      border-radius: 10px; }
  .tracker .tracker__container {
    margin: 0 auto;
    width: 60%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    min-height: calc(100vh - 75px - 100px - 150px);
    padding: 50px; }

.item {
  width: 60%;
  position: relative;
  transition: margin-bottom 0.15s ease-out;
  margin: 0 auto;
  margin-bottom: 25px; }
  .item.extended {
    margin-bottom: 125px; }
  .item.large {
    width: 80%; }

.item__wrapper {
  border: 1px solid #000;
  border-top: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  position: relative;
  z-index: 2; }
  .item__wrapper:focus {
    outline: none; }
  .item__wrapper .item__name span.item__initiative {
    color: #666;
    font-size: 22px;
    margin-right: 10px; }
  .item__wrapper .item__name span {
    color: #666;
    font-size: 12px; }
  .item__wrapper .item__close,
  .item__wrapper .item__heart {
    width: 24px;
    height: 24px; }
  .item__wrapper .item__close-container {
    cursor: pointer; }
  .item__wrapper .item__health-container {
    display: flex;
    align-items: center; }
    .item__wrapper .item__health-container span {
      font-size: 18px;
      margin-left: 10px; }

.item__options {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: 1px solid #000;
  border-top: 0;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 0 25px;
  height: 0;
  transition: height 0.15s ease-out;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .item__options.extended {
    height: 100px; }
  .item__options .item__input-container {
    margin-top: 50px;
    display: flex;
    align-items: center; }
    .item__options .item__input-container label {
      color: #666;
      margin-right: 10px; }
    .item__options .item__input-container input {
      width: 50px;
      font-size: 16px;
      border: none;
      border-bottom: 1px solid #666; }
  .item__options .item__conditions-container {
    margin-top: 50px; }
    .item__options .item__conditions-container select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      border-bottom: 1px solid #999;
      border-radius: 0;
      background-color: #fff;
      width: 100px;
      padding-bottom: 3px;
      padding-left: 5px;
      margin: 0 10px; }
  .item__options .item__input-button-container {
    cursor: pointer; }
  .item__options .item__input-button {
    width: 24px;
    height: 24px;
    margin: 0 5px; }

.hidden {
  display: none; }

.App {
  height: 100%; }

main {
  min-height: calc(100% - 75px - 100px); }
