@import "../../sass/variables.scss";

.monster-creator {
	display: flex;
	max-width: $desktop-page-width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.monster-creator__form-wrapper ,
.monster-creator__preview-wrapper {
  flex: 1;
  max-height: calc(100vh - 50px - #{$headerHeight} - #{$footerHeight});
  overflow-y: auto;
}

.monster-creator__input-wrapper {
  position: relative;
  label {
    font-size: 16px;
    color: $darkGrey;
  }

  fieldset {
    border: none;
    display: inline-block;

    label {
      margin: 0 10px 0 5px;
      color: $black;
    }
  }

  .monster-creator__input-text {
    border: none;
    border-bottom: 1px solid $darkGrey;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 150px;
  }

  .monster-creator__input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid $mediumGrey;
    border-radius: 0;
    background-color: $white;
    width: 100px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin: 0 10px;
  }

  .monster-creator__input-number {
    border: none;
    border-bottom: 1px solid $darkGrey;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 18px;
    width: 50px;
    margin-right: 15px;
  }

  .monster-creator__checkbox-wrapper {
    display: inline-block;
    min-width: 120px;
  }

  .spell-creator__infoButton {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.monster-creator__separator {
  width: 90%;
  height: 1px;
  background-color: $darkGrey;
  margin: 15px 0;
}

.monster-creator__preview-wrapper {
  padding: 0 50px;

  .monster-creator__name {
    font-size: 42px;
    font-weight: 500;
    margin: 0;
  }

  .monster-creator__sub-info {
    font-style: italic;
    font-size: 14px;
  }

  .monster-creator__attribute {
    font-weight: 600;

    .monster-creator__attribute-value {
      font-weight: normal;
    }
  }

  .monster-creator__ability-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .monster-creator__ability-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
  }
}

.monster-creator__section-title {
  color: $darkGrey;
}

.padding-left {
  padding-left: 25px;
}

.monster-creator__button {
  border: 1px solid $black;
  border-radius: 20px;
  padding: 5px;
  background-color: $white;
  font-size: 14px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.margin-right {
  margin-right: 10%;
}
